.logo {
    background-color: #456;
    width: 275px;
    float: left;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px;
    font-size: 30px
}

.main-container {
    width: 960px;
    clear: both;
}

header {
    width: 960px;
}

nav {
    float: right;
}